# Agriculture product optimization using machine learning

# problem Statement:
Build a pridictive model so as to suggest the most suitable crops to grow based on the available climatic and the soil conditions.
# Goal:
Achieve pricision farming by optimizing the agriculture Production

# Importing Libraries

In [1]:
# for manipulation
import numpy as np
import pandas as pd

# for data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# lets read the dataset
data=pd.read_csv("Crop_recommendation.csv")

In [4]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
data.shape

(2200, 8)

In [6]:
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [7]:
# let's check the crops present in this dataset
data['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [16]:
# lets check the summary for all the crops
print("Average Ratio of Nitrogen in the soil is : {0:2f}".format(data['N'].mean()))
print("Average Ratio of Phosphorus in the soil is : {0:2f}".format(data['P'].mean()))
print("Average Ratio of Potassium in the soil is : {0:2f}".format(data['K'].mean()))
print("Average Temperature in celcius : {0:2f}".format(data['temperature'].mean()))
print("Average Relative Humadity : {0:2f}".format(data['humidity'].mean()))
print("Average ph value of the soil is : {0:2f}".format(data['ph'].mean()))
print("Average Rainfall in mm : {0:2f}".format(data['rainfall'].mean()))

Average Ratio of Nitrogen in the soil is : 50.551818
Average Ratio of Phosphorus in the soil is : 53.362727
Average Ratio of Potassium in the soil is : 48.149091
Average Temperature in celcius : 25.616244
Average Relative Humadity : 71.481779
Average ph value of the soil is : 6.469480
Average Rainfall in mm : 103.463655

In [ ]:
print("Average Ratio of Nitrogen in the soil is : {0:2f}".format(data['N'].mean()))