# Agriculture product optimization using machine learning

# problem Statement:
Build a pridictive model so as to suggest the most suitable crops to grow based on the available climatic and the soil conditions.
# Goal:
Achieve pricision farming by optimizing the agriculture Production

# Importing Libraries

In [1]:
# for manipulation
import numpy as np
import pandas as pd

# for data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

# from interactivity
from ipywidgets import interact

In [2]:
# lets read the dataset
data=pd.read_csv("Crop_recommendation.csv")

In [3]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
data.shape

(2200, 8)

In [5]:

data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
# let's check the crops present in this dataset
data['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [7]:
# lets check the summary for all the crops
print("Average Ratio of Nitrogen in the soil is : {0:2f}".format(data['N'].mean()))
print("Average Ratio of Phosphorus in the soil is : {0:2f}".format(data['P'].mean()))
print("Average Ratio of Potassium in the soil is : {0:2f}".format(data['K'].mean()))
print("Average Temperature in celcius : {0:2f}".format(data['temperature'].mean()))
print("Average Relative Humadity : {0:2f}".format(data['humidity'].mean()))
print("Average ph value of the soil is : {0:2f}".format(data['ph'].mean()))
print("Average Rainfall in mm : {0:2f}".format(data['rainfall'].mean()))

Average Ratio of Nitrogen in the soil is : 50.551818
Average Ratio of Phosphorus in the soil is : 53.362727
Average Ratio of Potassium in the soil is : 48.149091
Average Temperature in celcius : 25.616244
Average Relative Humadity : 71.481779
Average ph value of the soil is : 6.469480
Average Rainfall in mm : 103.463655

In [8]:
print("Average Ratio of Nitrogen in the soil is : {0:2f}".format(data['N'].mean()))

Average Ratio of Nitrogen in the soil is : 50.551818

In [9]:
# lets check the summary statistics for each of the crops
@interact
def summary(crops=list(data['label'].value_counts().index)):
    x=data[data['label']== crops]
    print("..................................................")
    
    print("Statistics for Nitrogen")
    print("Minumum Nitrogen required:", x['N'].min())
    print("Average Nitrogen required:", x['N'].mean())
    print("Maximun Nitrogen required:", x['N'].max())
    print("Average Nitrogen required:", x['N'].mean())
    print(".................................................")
    
    print("Statistics for Phosphorus")
    print("Minumum Phosphorus required:", x['P'].min())
    print("Average Phosphorus required:", x['P'].mean())
    print("Maximun Phosphorus required:", x['P'].max())
    print("Average Phosphorus required:", x['P'].mean())
    print(".................................................")
    
    print("Statistics for Potassium")
    print("Minumum Potassium required:", x['K'].min())
    print("Average Potassium required:", x['K'].mean())
    print("Maximun Potassium required:", x['K'].max())
    print("Average Potassium required:", x['K'].mean())
    print(".................................................")
    
    print("statistics for temperature")
    print("Minimum Temperature required : {0:2f}".format(x['temperature'].min()))
    print("Average Temperature required : {0:2f}".format(x['temperature'].mean()))
    print("Maximum Temperature required : {0:2f}".format(x['temperature'].max()))
    print("..........................................................................")
    
    print("statistics for humidity")
    print("Minimum Humidity required : {0:2f}".format(x['humidity'].min()))
    print("Average Humidity required : {0:2f}".format(x['humidity'].mean()))
    print("Maximum Humidity required : {0:2f}".format(x['humidity'].max()))
    print("..........................................................................")
    
    print("statistics for PH")
    print("Minimum PH required : {0:2f}".format(x['ph'].min()))
    print("Average PH required : {0:2f}".format(x['ph'].mean()))
    print("Maximum PH required : {0:2f}".format(x['ph'].max()))
    print("..........................................................................")
    
    print("statistics for Rainfall")
    print("Minimum Rainfall required : {0:2f}".format(x['rainfall'].min()))
    print("Average Rainfall required : {0:2f}".format(x['rainfall'].mean()))
    print("Maximum Rainfall required : {0:2f}".format(x['rainfall'].max()))
    print("..........................................................................")

interactive(children=(Dropdown(description='crops', options=('rice', 'maize', 'jute', 'cotton', 'coconut', 'pa…

In [10]:
# lets compare the average requirement for each crops with average conditions
@interact
def compare(conditions=['N', 'P', 'k', 'temperature', 'ph', 'humidity', 'rainfal']):
    print("Average value for", conditions, "is {0:2f}".format(data[conditions].mean()))
    print("...........................................................................")
    
    print("Rice : {0:.2f}".format(data[(data['label'] == 'rice')][conditions].mean()))
    print("Blackgram : {0:.2f}".format(data[(data['label'] == 'blackgram')][conditions].mean()))
    print("Banana : {0:.2f}".format(data[(data['label'] == 'banana')][conditions].mean()))
    print("Jute : {0:.2f}".format(data[(data['label'] == 'jute')][conditions].mean()))
    print("Coconut : {0:.2f}".format(data[(data['label'] == 'coconut')][conditions].mean()))
    print("Apple : {0:.2f}".format(data[(data['label'] == 'apple')][conditions].mean()))
    print("Papaya : {0:.2f}".format(data[(data['label'] == 'papaya')][conditions].mean()))
    print("Muskmelon : {0:.2f}".format(data[(data['label'] == 'muskmelon')][conditions].mean()))
    print("Grapes : {0:.2f}".format(data[(data['label'] == 'grapes')][conditions].mean()))
    print("Watermelon : {0:.2f}".format(data[(data['label'] == 'watermelon')][conditions].mean()))
    print("Kidney Beans : {0:.2f}".format(data[(data['label'] == 'kidneybeans')][conditions].mean()))
    print("Mung Beans : {0:.2f}".format(data[(data['label'] == 'mungbean')][conditions].mean()))
    print("Orages : {0:.2f}".format(data[(data['label'] == 'orange')][conditions].mean()))
    print("Chick Peas : {0:.2f}".format(data[(data['label'] == 'chickpea')][conditions].mean()))
    print("Lentils : {0:.2f}".format(data[(data['label'] == 'lentil')][conditions].mean()))
    print("Cutton : {0:.2f}".format(data[(data['label'] == 'cutton')][conditions].mean()))
    print("Maize : {0:.2f}".format(data[(data['label'] == 'maize')][conditions].mean()))
    print("Moth Beans : {0:.2f}".format(data[(data['label'] == 'mothbeans')][conditions].mean()))
    print("Pigeon Peas : {0:.2f}".format(data[(data['label'] == 'pigeon peas')][conditions].mean()))
    print("Mango : {0:.2f}".format(data[(data['label'] == 'mango')][conditions].mean()))
    print("Pomegranate : {0:.2f}".format(data[(data['label'] == 'pomegranate')][conditions].mean()))
    print("Coffee : {0:.2f}".format(data[(data['label'] == 'coffee')][conditions].mean()))

interactive(children=(Dropdown(description='conditions', options=('N', 'P', 'k', 'temperature', 'ph', 'humidit…

In [11]:
# lets make the function more intiutive

@interact

def compare(conditions = ['N', 'P', 'K', 'temperature', 'ph', 'humidity', 'rainfall']):
    print("Crops which require less than average")
    print(data[data[conditions] <= data[conditions].mean()]['label'].unique())
    
    print("Crops which require greater than average")
    print(data[data[conditions] > data[conditions].mean()]['label'].unique())

interactive(children=(Dropdown(description='conditions', options=('N', 'P', 'K', 'temperature', 'ph', 'humidit…

In [12]:
from sklearn.cluster import KMeans

In [13]:
# removing the labels columns
x=data.drop(['label'], axis=1)

In [14]:
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [15]:
# checking the shape
x.shape

(2200, 7)

In [16]:
# lets determine the optimum number of clusters withthin the dataset

In [17]:
# lets check the cluster by eachcrops

In [18]:
# feature selection
y=data['label']
X=data.drop(['label'], axis=1)

In [19]:
y.head()

0    rice
1    rice
2    rice
3    rice
4    rice
Name: label, dtype: object

In [20]:
X.head()

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

# trainig test split

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X_train, y_train)

C:\Users\Oxford Computer\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [24]:
y_pred=model.predict(X_test)